 #header {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
}
.header-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 }
 @media(min-width: 300px) and (max-width: 767px) {
 .nav {
    height: 100px;
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    color: #f2f2f2;
    float: right;
  }
  .btn-nav {
    position: relative;
    top: 25px;
    right: 30px;
    background: transparent;
    border: none;
    padding: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 99999;
  }
  .btn-nav:focus {
    outline: 0;
  }
  .icon-bar {
    display: block;
    margin: 6px 0;
    width: 40px;
    height: 5px;
    background-color: black;
  }
  .btn-nav:hover .icon-bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #966f33;
  }
  .nav-content {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    display: block;
    height: 30%;
    z-index: 9;
  }
  .nav-list {
    list-style: none;
    padding: 0;
    position: relative;
    top: 20%;
    border-top: 1px solid #b3b3b3;
  }
  .nav-list li a {
    color: #b3b3b3;
    line-height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 5px;
    margin-top: 25px;
  }
  .nav-list li {
    margin: 35px auto;
    text-align: center;
  }
  .nav-list .active a {
    border-bottom: 2px solid #966f33;
    color: #966f33;
  }
  .animated {
    display: block;
    margin: 0 auto;
  }
  .animated:hover .icon-bar,
  .animated:focus .icon-bar{
    background-color: #966f33;
  }
  .animated:focus {
    cursor: pointer;
    z-index: 9999;
  }
  .middle {
    margin: 0 auto;
  }
  .icon-bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
  }
  .animated .icon-bar {
    z-index: 999999;
    background-color: #966f33;
  }
  .animated .top {
    -webkit-transform: translateY(10px) rotateZ(45deg);
    -moz-transform: translateY(10px) rotateZ(45deg);
    -ms-transform: translateY(10px) rotateZ(45deg);
    -o-transform: translateY(10px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
  }
  .animated .bottom {
    -webkit-transform: translateY(-10px) rotateZ(-45deg);
    -moz-transform: translateY(-10px) rotateZ(-45deg);
    -ms-transform: translateY(-10px) rotateZ(-45deg);
    -o-transform: translateY(-10px) rotateZ(-45deg);
    transform: translateY(-10px) rotateZ(-45deg);
  }
  .animated .middle {
    width: 0;
  }
  @keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @-webkit-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
      }
  }
  @-moz-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
      }
  }
  @-o-keyframes showNav {
    from {
      top: -100%;
    }
    to {
      top: 0;
      }
  }
  .showNav {
    -webkit-animation: showNav .5s ease forwards;
    -moz-animation: showNav .5s ease forwards;
    -o-animation: showNav .5s ease forwards;
    animation: showNav .5s ease forwards;
  }
  @keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
      }
  }
  @-webkit-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
      }
  }
  @-moz-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
      }
  }
  @-o-keyframes hideNav {
    from {
      top: 0;
    }
    to {
      top: -100%;
      }
  }
  .hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
  }
  .hidden {
    display: none;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
  .logo-small {
    position: fixed;
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}
@media(min-width: 768px) {
  .nav {
    display: none;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
  .nav-content {
    position: relative;
    top: -78px;
    right: 0px;
  }
  .nav-list {
    list-style: none;
    float: right;
  }
  .nav-list li {
    display: inline-block;
    margin: 0px 15px;
  }
  .nav-list li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    text-decoration: none;
  }
  .nav-list li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #966f33;
    transition: width .7s;
  }
  .nav-list li a:hover::after {
    width: 100%;
  }
  .nav-list .active a {
    border-bottom: 2px solid #966f33;
    color: #966f33;
  }
  .logo-small {
    display: none;
  }
}
@media(min-width: 992px) {
  .header-wrapper {
    width: 990px;
  }
}
