#about {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 100px 0px;
}
#about h4 {
  font-size: 20px;
  font-weight: bold;
}
#about p {
  line-height: 26px;
  font-size: 16px;
  color: #726f6f;
  padding-bottom: 10px;
}
@media(min-width: 320px) and (max-width:992px) {
  #about {
    margin: 0px 20px;
  }
}
@media(min-width: 992px) {
  #about {
    width: 990px;
  }
}
