#contact {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif, sans-serif;
  padding: 100px 0px;
}
#contact h1 {
  font-size: 24px;
  color: #3b3b3b;
  margin-top: 20px;
}
#contact p {
  font-size: 16px;
  line-height: 26px;
  color: #726f6f;
}
.map {
  width: 100%;
  height: 500px;
}
.map iframe {
  max-width: 100%;
  margin-bottom: -5px;
}
@media(min-width: 992px) {
  #contact {
    width: 990px;
  }
}
