#service {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 100px 0px;
}
#service p {
  font-size: 16px;
  line-height: 26px;
  color: #726f6f;
}
.image-service {
  width: 450px;
  height: 150px;
}
.service-description h4 {
  font-size: 21px;
  color: #3b3b3b;
  margin-top: 5px;
}
.service-description p {
  line-height: 26px;
  font-size: 16px;
  color: #726f6f;
  margin-top: -20px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media(min-width: 992px) {
  #service {
    width: 990px;
  }
}
