.slides {
  padding: 0;
  width: 100%;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.slides input { display: none; }
.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}

.nav-slider label {
  display: none;
  position: absolute;
  float: left;
  bottom: 0;
  padding: 3px 15px 0px 15px;
  opacity: 1;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.prev {
  margin-left: 50px;
  margin-bottom: 20px;
}
.next {
  margin-left: 100px;
  margin-bottom: 20px;
}
.slide:hover + .nav-slider label { opacity: 1.3; }

.nav-slider label:hover { opacity: 1; }

.slide p {
  position: absolute;
  margin-top: -140px;
  margin-left: 50px;
  text-align: left;
  color: #fff;
  opacity: 0.9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

input:checked + .slide-container  .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav-slider label { display: block; }
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4 {
  background: rgba(0, 0, 0, 0.8);
}
