#gallery {
  margin: 90px 0px;
}
.my-gallery figure {
  overflow: hidden;
  margin:0 auto;
  display: inline-block;
}
.my-gallery figure img {
  max-width: 100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.my-gallery figure img:hover {
  -moz-transform: scale(1.2) rotate(0deg);
  -webkit-transform: scale(1.2) rotate(0deg);
  -o-transform: scale(1.2) rotate(0deg);
  -ms-transform: scale(1.2) rotate(0deg);
  transform: scale(1.2) rotate(0deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.gallery-wrapper {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.my-gallery figcaption {
  position: absolute;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}
@media (min-width: 320px) {
  .my-gallery figure {
    width: 100%;
    height: 300px;
  }
  .my-gallery figcaption {
    font-size: 20px;
    margin: -100px 0px 0px 30px;
    border-bottom: 4px solid #fff;
  }
}
@media (min-width: 568px)  and (max-width: 992px) {
  .my-gallery figure {
    width: 150px;
    height: 150px;
  }
  .my-gallery figure img {
    width: 150px;
    height: 150px;
  }
  .my-gallery figcaption {
    font-size: 14px;
    margin: -70px 0px 0px 20px;
    border-bottom: 2px solid #fff;
  }
}
@media(min-width: 992px) {
  .gallery-wrapper {
    width: 990px;
  }
  .my-gallery figure {
    width: 300px;
    height: 300px;
  }
  .my-gallery figure img {
    width: 300px;
    height: 300px;
  }
  .my-gallery figcaption {
    font-size: 20px;
    margin: -100px 0px 0px 30px;
    border-bottom: 4px solid #fff;
  }
}
