#services {
  background-color: #fafafa;
}
.services-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 0;
}
.services-wrapper h4 {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: black;
}
.services-wrapper p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.service-image {
  height: 60px;
  width: auto;
  padding-top: 40px;
}
@media(min-width: 992px) {
  .services-wrapper {
    width: 990px;
  }
}
