#what-we-do {
  background-color: #fafafa;
}
.what-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 0;
}
.home-titles {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}
.home-titles:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  bottom: 0;
  border-bottom: 5px solid #000;
}
.what-wrapper h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
.what-wrapper p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
@media(min-width: 992px) {
  .what-wrapper {
    width: 990px;
  }
}
