<div id="gallery">
  <div class="gallery-wrapper">
    <h2 class="home-titles">Naši proizvodi</h2>
    <div class="my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
      <div class="grid">
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("1.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("1.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption  1</figcaption>

          </figure>
        </div>
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("2.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("2.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption 2</figcaption>
          </figure>
        </div>
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("3.jpg"), itempr: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("3.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>
        </div>
      </div>
      <div class="grid">
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("1.jpg"), itempr: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("1.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>
        </div>
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("2.jpg"), itemprop: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("2.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption 2</figcaption>
          </figure>
        </div>
        <div class="unit one-third align-center">
          <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <%= link_to image_url("3.jpg"), itempr: "contentUrl", data: { size: "1024x1024" }  do %>
            <%= image_tag("3.jpg", alt: "slika1", itemprop: "thumbnail", class: "thumb") %>
          <% end %>
          <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/homepage/photoswipe' %>
<%= javascript_include_tag 'gallery' %>
