<div id="services">
  <div class="services-wrapper">
    <h2 class="home-titles">Pružamo usluge</h2>
    <div class="grid">
      <div class="unit one-quarter align-center">
        <%= image_tag("truck.png", class: "service-image") %>
        <h4>Prijevoz</h4>
        <p>Vršimo prijevoz svih vrsta trupaca</p>
      </div>
      <div class="unit one-quarter align-center">
        <%= image_tag("piljenje.png", class: "service-image") %>
        <h4>Piljenje</h4>
        <p>Pilimo trupce prema vašim željama</p>
      </div>
      <div class="unit one-quarter align-center">
        <%= image_tag("drva.png", class: "service-image") %>
        <h4>Skladištenje</h4>
        <p>Skladištimo vašu robu</p>
      </div>
      <div class="unit one-quarter align-center">
        <%= image_tag("piljenje.png", class: "service-image") %>
        <h4>Usluga</h4>
        <p>Opis navedene usluge</p>
      </div>
    </div>
  </div>
</div>
