<div id="what-we-do">
  <div class="what-wrapper">
    <div class="grid">
      <div class="unit whole">
        <h2 class="home-titles">Čime se bavimo</h2>
        <span></span>
      </div>
    </div>
    <div class="grid">
      <div class="unit one-third">
        <h4>Title 1</h4>
        <p>Lorem ipsum dolor sit amet, sit turpis vitae per hymenaeos, aliquam ut ac, turpis laoreet duis consectetuer, sed in eget suspendisse leo. Mollis ac leo aliquet et lobortis, ad mollis nostra elit, in eu mi, tincidunt vel sed hac sodales, tempus nulla aliquet mi sapien.</p>
      </div>
      <div class="unit one-third">
        <h4>Title 2</h4>
        <p>Lorem ipsum dolor sit amet, sit turpis vitae per hymenaeos, aliquam ut ac, turpis laoreet duis consectetuer, sed in eget suspendisse leo. Mollis ac leo aliquet et lobortis, ad mollis nostra elit, in eu mi, tincidunt vel sed hac sodales, tempus nulla aliquet mi sapien.</p>
      </div>
      <div class="unit one-third">
        <h4>Title 3</h4>
        <p>Lorem ipsum dolor sit amet, sit turpis vitae per hymenaeos, aliquam ut ac, turpis laoreet duis consectetuer, sed in eget suspendisse leo. Mollis ac leo aliquet et lobortis, ad mollis nostra elit, in eu mi, tincidunt vel sed hac sodales, tempus nulla aliquet mi sapien.</p>
      </div>
    </div>
  </div>
</div>
