<% provide(:title, "O nama") %>

<%= render 'layouts/carousel' %>
<div id="about">
  <h2 class="home-titles">O nama</h2>
  <h4>Povijest</h4>
  <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.

  Platonem mediocritatem eu per, no tacimates scripserit disputando per. Est ei primis inermis molestiae, scribentur efficiantur ullamcorper duo ea. Est ne minim nihil docendi. Ad erat sapientem splendide has, et sea impetus suscipiantur consectetuer. Eripuit laoreet id mel, eu laudem integre cotidieque eum. Te sea sumo delenit mediocritatem.
  Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.

  Platonem mediocritatem eu per, no tacimates scripserit disputando per. Est ei primis inermis molestiae, scribentur efficiantur ullamcorper duo ea. Est ne minim nihil docendi. Ad erat sapientem splendide has, et sea impetus suscipiantur consectetuer. Eripuit laoreet id mel, eu laudem integre cotidieque eum. Te sea sumo delenit mediocritatem.
  </p>
  <h4>Čime se sve bavimo</h4>
  <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.

  Platonem mediocritatem eu per, no tacimates scripserit disputando per. Est ei primis inermis molestiae, scribentur efficiantur ullamcorper duo ea. Est ne minim nihil docendi. Ad erat sapientem splendide has, et sea impetus suscipiantur consectetuer. Eripuit laoreet id mel, eu laudem integre cotidieque eum. Te sea sumo delenit mediocritatem.
  Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.

  Platonem mediocritatem eu per, no tacimates scripserit disputando per. Est ei primis inermis molestiae, scribentur efficiantur ullamcorper duo ea. Est ne minim nihil docendi. Ad erat sapientem splendide has, et sea impetus suscipiantur consectetuer. Eripuit laoreet id mel, eu laudem integre cotidieque eum. Te sea sumo delenit mediocritatem.
  </p>
</div>
