<% provide(:title, "Kontakt") %>
<div id="contact">
  <div class="grid">
    <div class="unit half">
      <h2 class="home-titles">Osnovni podaci</h2>
      <h1>Matešić d.o.o. - pilana i drvna industrija</h1>
      <p>Vlasnik: Juraj Matešić</p>
      <p>OIB: 12345678909</p>
      <p>Upisan pri trgovačkom sudu u Bjelovaru MBS: 123456789</p>
      <p>Temeljni kapital:</p>
    </div>
    <div class="unit half">
      <h2 class="home-titles">Adresa</h2>
      <h1>Glavna 163,<br>33514 Čačinci</h1>
      <p>Telefon: 033 / 684 - 065</p>
      <p>Telefax: 033 / 684 - 065</p>
      <p>Mobitel: 09812345678</p>
      <p>Email: mali@example.com</p>
    </div>
  </div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2791.642874769676!2d17.880013216371932!3d45.597723479102754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475d6f9c9e7526e7%3A0x6f006603f8137009!2sMatesic+D.O.O.!5e0!3m2!1shr!2shr!4v1453038834568" width="2560" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
