<% provide(:title, "Usluge") %>
<%= render 'layouts/carousel' %>
<div id="service">
  <div class="grid">
    <div class="unit whole">
      <h2 class="home-titles">Usluge i proizvodi</h2>
      <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.

      Platonem mediocritatem eu per, no tacimates scripserit disputando per. Est ei primis inermis molestiae, scribentur efficiantur ullamcorper duo ea. Est ne minim nihil docendi. Ad erat sapientem splendide has, et sea impetus suscipiantur consectetuer. Eripuit laoreet id mel, eu laudem integre cotidieque eum. Te sea sumo delenit mediocritatem.
      </p>
    </div>
  </div>
  <div class="grid">
    <div class="unit half">
      <div class="service-description">
        <%= image_tag("1.jpg", class: "image-service") %>
        <h4>Title 1</h4>
        <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.
        </p>
      </div>
    </div>
    <div class="unit half">
      <div class="service-description">
        <%= image_tag("2.jpg", class: "image-service") %>
        <h4>Title 1</h4>
        <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.
        </p>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="unit half">
      <div class="service-description">
        <%= image_tag("1.jpg", class: "image-service") %>
        <h4>Title 1</h4>
        <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.
        </p>
      </div>
    </div>
    <div class="unit half">
      <div class="service-description">
        <%= image_tag("2.jpg", class: "image-service") %>
        <h4>Title 1</h4>
        <p>Lorem ipsum dolor sit amet, sit an cibo vidisse necessitatibus. Ne quis mazim sed, et sea vidit putent, usu at sanctus intellegebat. Nec an ullum summo aliquip. Quo ex integre vocibus habemus, est facete patrioque ad. Amet latine et eam, et habeo virtute vivendo eam.
        </p>
      </div>
    </div>
  </div>
</div>
