body {
  margin: 0px 0px 0px 0px;
}
#footer {
  font-family: 'Source Sans Pro', sans-serif;
}
#footer h4 {
  color: #966f33;
  text-transform: uppercase;
}
.contact-us {
  background-color: #8ca87d;
  min-height: 120px;
}
.contact-us p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 37px;
  text-transform: uppercase;
}
.button {
}
.button a {
  text-align: right;
  padding: 10px 30px;
  color: #fff;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.button a:hover {
  background-color: #966f33;
  color: #fff;
}
.footer-wrapper {
  background-color: #2f3034;
}
.footer-wrapper-content, .contact-us-wrapper {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,0%);
}
.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 37px;
  border: none;
}
.footer-menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #c2c2c2;
  font-size: 16px;
}
.footer-menu ul li a:after {
  display: none;
}
.footer-menu ul a:hover {
  color: #966f33;
  border: none;
}
.footer-menu ul .active a {
  color: #966f33;
  border: none;
}
.footer-wrapper-content a {
  text-decoration: none;
  font-size: 16px;
  color: #c2c2c2;
}
.footer-wrapper-content a:hover {
  color: #966f33;
}
.footer-wrapper-content ul li {
  list-style: none;
  margin-left: -38px;
  color: #c2c2c2;
  line-height: 30px;
}
.footer-wrapper-content p {
  color: #c2c2c2;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}
.copy {
  padding-bottom: 5px;
  border-top: 1px solid #6e6e6e;
}
.copy p {
  text-align: center;
}
@media(min-width: 320px) {
  .contact-us p {
    float: center;
  }
  .button {
    margin-top: -5px;
    margin-left: 60px;
    padding-bottom: 30px;
  }
  .button a {
    text-align: center;
  }
}
@media(min-width: 568px) {
  .contact-us p {
    float: left;
  }
  .button a {
    float: right;
    margin-top: 35px;
  }
}
@media(min-width: 992px) {
  .footer-wrapper-content, .contact-us-wrapper {
    width: 990px;
  }
}

