<div class="carousel">
  <ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
    <div class="slide">
      <%= image_tag "img1.jpg" %>
      <p>Carousel message one<br>with multiline text</p>
    </div>
    <div class=nav-slider>
      <label for="img-4" class="prev"><i class="fa fa-chevron-left"></i></label>
      <label for="img-2" class="next"><i class="fa fa-chevron-right"></i></label>
    </div>
    </li>
    <input type="radio" name="radio-btn" id="img-2" checked />
    <li class="slide-container">
    <div class="slide">
      <%= image_tag "img2.jpg" %>
      <p>Carousel message one<br>with multiline text</p>
    </div>
    <div class=nav-slider>
      <label for="img-1" class="prev"><i class="fa fa-chevron-left"></i></label>
      <label for="img-3" class="next"><i class="fa fa-chevron-right"></i></label>
    </div>
    </li>
    <input type="radio" name="radio-btn" id="img-3" checked />
    <li class="slide-container">
    <div class="slide">
      <%= image_tag "img3.jpg" %>
      <p>Carousel message one<br>with multiline text</p>
    </div>
    <div class=nav-slider>
      <label for="img-2" class="prev"><i class="fa fa-chevron-left"></i></label>
      <label for="img-4" class="next"><i class="fa fa-chevron-right"></i></label>
    </div>
    </li>
    <input type="radio" name="radio-btn" id="img-4" checked />
    <li class="slide-container">
    <div class="slide">
      <%= image_tag "img4.jpg" %>
      <p>Carousel message one<br>with multiline text</p>
    </div>
    <div class=nav-slider>
      <label for="img-3" class="prev"><i class="fa fa-chevron-left"></i></label>
      <label for="img-1" class="next"><i class="fa fa-chevron-right"></i></label>
    </div>
    </li>
  </ul>
</div>
