<div id="footer">
  <div class="contact-us">
    <div class="contact-us-wrapper">
      <div class="grid">
        <div class="unit half">
          <p>Ukoliko imate imate pitanja</p>
        </div>
        <div class="unit half">
          <div class="button">
            <%= mail_to "email@example.com", "Kontaktirajte nas" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-wrapper-content">
      <div class="grid">
        <div class="unit one-fourth">
          <h4>Matešić d.o.o.</h4>
          <div class="footer-menu">
            <%= render_main_menu %>
          </div>
        </div>
        <div class="unit one-fourth">
          <h4>O nama</h4>
          <p>Bavimo se preradom i prijevozom drvenih trupaca</p>
        </div>
        <div class="unit one-fourth">
          <h4>Usluge</h4>
          <ul>
            <li>usluga</li>
            <li>usluga</li>
            <li>usluga</li>
          </ul>
        </div>
        <div class="unit one-fourth">
          <h4>Kontakt</h4>
          <p>Adresa</p>
          <p>Broj telefona</p>
          <p>Email</p>
        </div>
      </div>
      <div class="copy">
        <p>Matešić d.o.o. © 2016.</p>
      </div>
    </div>
  </div>
</div>
