<div id="header">
  <div class="header-wrapper">
    <div class="nav">
      <button class="btn-nav">
        <span class="icon-bar top"></span>
        <span class="icon-bar middle"></span>
        <span class="icon-bar bottom"></span>
      </button>
    </div>
    <%= image_tag("logo.png", class: "logo") %>
    <div class="nav-content hideNav hidden">
      <%= image_tag("logo.png", class: "logo-small") %>
      <%= render_main_menu %>
    </div>
  </div>
</div>
